body {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 25px auto;
}

#home {
    width: 100%;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
}

img {
    height: 200px;
}

#about {
    padding: 50px;
    background: hotpink;
}

h1 {
    text-shadow: 2px 2px #F8BBD0;
    font-size: 50px;
    font-family: 'Train One', cursive;
}

.menu {
    z-index: 1000;
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
}

.link {
    float: left;
    color: darkorange;
    padding-right: 9px;
    padding-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: fantasy;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}